:host {    
    display: grid;
    padding: 0;
    margin:0;
    width: 100%;
    height: 100%;
    grid-gap: 0px;
    overflow: hidden;
    --grid-main-panel-width:800px;
    --grid-main-panel-height:500px;
}

:host(.vertical) { 
    grid-template-columns: var(--grid-main-panel-width) 5px 1fr;
    grid-template-rows: 1fr;    
}

:host(.horizontal) { 
    grid-template-rows: var(--grid-main-panel-height) 5px 1fr;
    grid-template-columns: 1fr;    
}

.panel {
    background-color: #ccc;    
}

:host(.horizontal) ce-sash {
    cursor: ns-resize;
    grid-row: 2;
}

:host(.vertical) ce-sash {
    cursor: ew-resize;
    grid-column: 2;
}